apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deploy
  namespace: dev   # change per branch or use Jenkinsfile to replace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: rowidarafiek/app:dev-latest # Jenkinsfile replaces tag dynamically
          ports:
            - containerPort: 80

